<ion-view view-title="{{party.name}}">
  <ion-content class="padding">
  	<div style="text-align : center;" class="list list-inset">
  		<div class="item">
     		<h1>{{party.lieu}}</h1>
    	</div>
    	<div class="item item-image">
    	<img ng-src="{{party.face}}">
    	</div>
    	<div class="item">
    		<h2>{{party.name}}</h2>
    	</div>
    	<div class="item item-icon-left item-body">
    		<p>Description de la soirée (ex: Artiste présent, boisson moitier prix, ect)</p>
    	</div>
    	<div class="item item-icon-left">
    		<i class="icon ion-home"></i>
    		<p>Adresse de la boite de nuit</p>
    	</div>
    	<div class="item item-icon-left">
    		<i class="icon ion-ios-telephone"></i>
    		<p>Numéro téléphone de la boite</p>
    	</div>
    	<div class="button-bar bar-positive padding">
  			<a class="button">Participer</a>
  			<a class="button">Live</a>
		</div>
    </div>
  </ion-content>
</ion-view>