<ion-view view-title="Soirée(s)">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="party in partys" type="item-text-wrap" href="#/tab/partys/{{party.id}}">
        <img ng-src="{{party.face}}">
        <h2>{{party.name}}</h2>
        <p>{{party.lieu}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(party)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>