<ion-view view-title="Proposer une soirée">
  <ion-content class="padding">
    <h2>proposer une soirée?</h2>
    <div class="list">
    	<label class="item item-input item-stacked-label">
  			<span class="input-label">Soirée</span>
  			<input type="text" placeholder="Nom de la soirée">
  		</label>
  		<label class="item item-input item-stacked-label">
  			<span class="input-label">Description</span>
  			<input type="text" placeholder="Description de la soirée">
  		</label>
  		<button class="button button-block button-positive">
  			Proposer !
  		</button>
    </div>
  </ion-content>
</ion-view>
