<ion-view view-title="{{profil.nom}} {{profil.prenom}}">

<ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    
  <ion-content class="padding">
    <div style="text-align : center;">
      <img ng-src="{{profil.face}}" class="img-circle" style="height : 200px;"></img>
      <p>
        <br>
          <div class="row" style="text-align : center;">
            <div class="item col">Rang</div>
            <div class="item col">Sam</div>
          </div>
        <div class="button-bar bar-positive">
          <a class="item button">Follow</a>
          <a class="item button">Follower</a>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-male"></i>
          {{profil.age}} ans
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-chatbubble-working"></i>
          Joindre
        </a>
      </p>
    </div>
  

  


 </ion-content>
</ion-view>
