<ion-view view-title="{{party.name}}">
  
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content class="padding">
  	<div style="text-align: center" class="list list-inset">
  		<div class="item">
        <h1>{{party.place}}</h1>
      </div>
      <div class="item item-image">
        <img ng-src="{{party.face}}">
      </div>
      <div class="item">
        <h2>{{party.name}}</h2>
      </div>
      <div class="item item-icon-left item-body">
        <i class="icon ion-compose"></i>
        <p>{{party.description}}</p>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-home"></i>
        <p>{{party.adresse}}</p>
      </div>
    </div>

    <div class="row"> 
      <div class="col">
        <button class="button button-block button-calm">Join</button>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="ctrl.playVideo()">Live</button>
      </div>     
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="person in ctrl.people" type="item-text-wrap">
        <img ng-src="{{person.face}}">
        <h2>{{person.name}}</h2>
        <p>{{person.sam}}</p>
        <ion-option-button class="button-positive">
            Etre sam
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="ctrl.remove(person)">
            Quitter
        </ion-option-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>