<ion-view view-title="Parties">
  <ion-nav-bar class="bar-stable">    
  </ion-nav-bar>
  
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="party in ctrl.parties" type="item-text-wrap" href="#/tab/party/{{party.id}}">
        <img ng-src="{{party.face}}">
        <h2>{{party.name}}</h2>
        <p>{{party.place}}</p>
        <p>{{party.date}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="ctrl.remove(party)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>