<ion-view view-title="Offer a party">
  <ion-nav-bar class="bar-stable">    
  </ion-nav-bar>
  
  <ion-content class="padding">
    <h2>Offer a party?</h2>
    <div class="list">
    	<label class="item item-input item-stacked-label">
  			<span class="input-label">Party</span>
  			<input type="text" placeholder="Event name">
  		</label>
  		<label class="item item-input item-stacked-label">
  			<span class="input-label">Description</span>
  			<input type="text" placeholder="Description of the event">
  		</label>
      <br/>
  		<button class="button button-block button-positive">Offer !</button>

    </div>

  </ion-content>
</ion-view>