<ion-view view-title="Autour de moi">

  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

<ion-content ng-controller="CompleteCtrl" class="padding">
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input id="where" type="search" placeholder="Ville">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
<div class="list">

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>[Pretty Hate Machine]</h2>
      <p>Nine Inch Nails</p>
    </a>

	<a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
</ion-content>
</ion-view>
