<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="J'ai faim !" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Moi" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/chats/current">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Proposer un plat" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


<!-- Gérer les plats -->
  <ion-tab title="Gerer mes plats" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/gerer">
    <ion-nav-view name="tab-gerer"></ion-nav-view>
  </ion-tab>


</ion-tabs>
